@import "tailwindcss";

@font-face {
    font-family: Lausanne300;
    src: url(../src/assets/fonts/Lausanne-300.woff2);
}
@font-face {
    font-family: Lausanne500;
    src: url(../src/assets/fonts/Lausanne-500.woff2);
}
